<div id="order-details">
  <% @order.order_items.each do |item| %>
    <%= "#{item.product.name}  - #{item.product.price} kr" %>
  <% end %>

  <strong>
    Order total: <%= order.total %> kr
  </strong>
  <% if @order.pending? %>
    <p>
      Estimated pickup time: <%= pickup_time %>
    </p>
    <form action="/finalize" method="post">
      <input type="submit" value="Confirm order">
    </form>
  <% elsif @order.confirmed? %>
    <p>
      Confirmed pickup time: <%= pickup_time %>
    </p>
  <% end %>

</div>


